<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header_style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<header>
    <nav>
        <ul>
            <li id="li_linktree"><a href="/" style="margin-left: 30px; margin-right: 30px">LINK TREE</a></li>
            <li class="li_menulist">
                <a href="/bestLink" class="menu_text">Best&nbsp;Link</a>
            </li>
            <li class="li_menulist">
                <a href="/bestUser" class="menu_text">Best&nbsp;User</a>
            </li>
            <li class="li_menulist">
                <a href="/dateLink" class="menu_text">Today&nbsp;Link</a>
            </li>
            <li id="li_search_form">
                <div class="dropdown" style="margin-right: 30px">
                    <div style="cursor: pointer; width: 40px; text-align: right;"><img src="images/search.png"></div>
                    <ul class="dropdown-menu" id="dropdown-search">
                        <li>
                            <form action="/user_search" method="get" id="search_form">
                                <div id="div_search">
                                    <input class="search-input" type="text" name="username" id="search"
                                           placeholder="유저를 검색하세요"/>
                                    <button class="search-btn" type="submit"></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
            {{#user.username}}
                <li class="li_text">
                    <img src="{{user.picture}}" id="img_picture">
                    <span class="a_text">{{user.username}}님</span>
                    <div class="dropdown">
                        <a>
                            <img src="images/usermenu.png" width="15px" height="15px" style="margin-left: 10px">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/iduser_link">내 링크보기</a></li>
                            <li>
g                                {{#user.name}}
                                    <a class="dropdown-item" href="/update">정보수정</a>
                                {{/user.name}}
                            </li>
                            <li>
                                {{#user.name}}
                                    <span class="dropdown-item" href="#">
                                    <form action="/delete" method="post">
                                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                                        <button type="button" class="logout_delete" onclick="this.form.submit();">탈퇴하기
                                        </button>
                                    </form>
                                </span>
                                {{/user.name}}
                            </li>
                            <li>
                                <span class="dropdown-item" href="#">
                                <form action="/logout" method="post">
                                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                                    <button type="button" class="logout_delete" onclick="this.form.submit();">
                                        로그아웃
                                    </button>
                                </form>
                                </span>
                            </li>
                        </ul>
                    </div>
                </li>
            {{/user.username}}
            {{^user.username}}
                <span class="a_text" style="margin-right: 5px">로그인해주세요</span>
                <li class="li_text">
                    <button type="button" onclick="location.href='login'" class="user_btn">로그인</button>
                    <button type="button" onclick="location.href='signup'" class="user_btn" style="margin-left: 5px">
                        회원가입
                    </button>
                </li>
            {{/user.username}}
        </ul>
    </nav>
</header>
</body>
<script src="js/usermenu.js"></script>
</html>