body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Gowun Dodum', sans-serif;
}
.search_td{
    border-radius: 10px;
}
span {
    color: white;
    font-size: 15px;
    margin-top: 11.5px;
}
.span_user {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: auto;
}
.span_search {
    color: white;
    margin-left: 30px;
    margin-top: 8px;
}
.user_btn {
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgb(28, 18, 88);
    border-radius: 5px;
    font-size: 5px;
    padding: 7px;
    margin-left: 5px;
    font-family: 'Gowun Dodum', sans-serif;
}
.user_btn:hover {
    background-color: rgb(56, 43, 129);
    color: white;
}
header {
    background-color: white;
    padding: 7px;
    height: 50px;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
nav a {
    font-family : fantasy;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
}
nav a:hover {
    color: #3c3c3c;
}
.search-input {
    font-family: 'Gowun Dodum', sans-serif;
    background-color: whitesmoke;
    color: #000;
    padding: 10px;
    font-size: 12px;
    height: 10px;
    width: 150px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid lightgray;
}
.search-btn {
    cursor: pointer;
    background-color: rgb(28, 18, 88);
    color: #fff;
    border: none;
    height: 30px;
    width: 40px;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.search-btn:hover {
    background-color: rgb(56, 43, 129);
    color: white;
}