body{
    background-image: url("../images/background_showLink.jpg");
    background-repeat: repeat;
    background-size: cover; /* 사이즈를 조절하고 싶은 경우 */
    margin: 0;
    padding: 0;
    font-size: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}
.div_homescreen{
    width: 100vw;
    height: 100vh; /* 화면 높이의 50%로 지정 */
    display: flex;
    align-items: center;
}
.div_homescreen_sub{
    width: 550px;
    height: 400px;
    margin-left: 10%;
}
.div_text{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}
.div_text_sub{
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: white;
    font-size: 100px;
    text-align: left;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.div_text_sub2{
    width: 100%;
    height: 270px;
    display: none;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: white;
    font-size: 100px;
    text-align: left;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1300px) {
    .div_homescreen_sub {
        width: 500px;
        margin-left: 8%;
    }
    .div_text_sub {
        font-size: 90px; /* 화면 크기에 따른 글자 크기 */
    }
}
@media (max-width: 1150px) {
    .div_homescreen_sub {
        width: 400px;
        margin-left: 8%;
    }
    .div_text_sub {
        font-size: 80px; /* 화면 크기에 따른 글자 크기 */
    }
}
@media (max-width: 900px) {
    .div_homescreen{
        justify-content: center;
        align-items: center;
    }
    .div_homescreen_sub {
        width: 450px;
        margin-left: 0px;
    }
    .div_text{
        height: 100px;
    }
    .div_text_sub {
        display: none;
    }
    .div_text_sub2 {
        display: flex;
        font-size: 59px;
    }
    .div_form{
        width: 100%;
        height: 100px;
        margin-top: -20px;
    }
    .div_form_sub{
        width: 100%;
        height: 50px;
    }
}
/*@media (max-width: 1410px) {*/
/*    .div_text_sub {*/
/*        font-size: 60px; !* 화면 크기에 따른 글자 크기 *!*/
/*    }*/
/*}*/
/*!* 문서의 전체적인 화면 크기에 따라 글자 크기 변경 *!*/
/*@media (max-width: 768px) {*/
/*    .div_text_sub {*/
/*        font-size: 18px; !* 화면 크기에 따른 글자 크기 *!*/
/*    }*/
/*}*/

/*@media (max-width: 420px) {*/
/*    .div_text_sub {*/
/*        font-size: 14px; !* 화면 크기에 따른 글자 크기 *!*/
/*    }*/
/*}*/
.div_form{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.div_form_sub{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input_form{
    width: 92%;
    height: 50px;
    display: flex;
    align-items: center;
}
#input_text{
    width: 80%;
    height: 100%;
    padding: 10px;
    color: black;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0.8;
}
#input_text:focus{
    outline: none;
}
#input_btn{
    margin-left: 0px;
    width: 19.9%;
    height: 100%;
    color: white;
    font-size: 10px;
    background-color: black;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#input_btn:focus{
    outline: none;
}
#input_btn:hover{
    background-color: #3c3c3c;
}
