td {
    background-color: white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
table {
    cursor: pointer;
    border: 1px solid lightgray;
    margin-top: 40px;
    border-spacing: 0px;
    border-radius: 10px;
    width: 530px;
    table-layout: fixed;
}
.input_link {
    background-color: white;
    color: black;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 10px;
    width: 300px;
    height: 25px;
}
.img_list {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80px;
    height: 80px;
}

.img_td {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.title_td {
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 350px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px
}

.del_td {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    width: 50px;
}
.contents_td {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 5px;
    vertical-align: top;
    padding: 10px
}

input[type="submit"] {
    font-family: sans-serif;
    background-color: rgb(28, 18, 88);
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}
.del_button {
    cursor: pointer;
    color: black;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
    box-shadow: 2px 2px gray;
}
input[type="submit"]:hover {
    background-color: rgb(56, 43, 129);
    color: white;
}
.del_button:hover {
    background-color: rgb(56, 43, 129);
    color: white;
}