/* 검은색 테마 스타일 */
body {
    background-color: #1c1c1c;
    color: #fff;
}

th, td {
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
}

th {
    background-color: #1c1c1c;
    text-align: center;
    column-span: 2;
}

table {
    border-collapse: collapse;
    margin-top: 100px;
    border-collapse: separate;
    border-spacing: 10px;
}

.link-cell {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    max-width: 350px;
}

.link {
    text-align: left;
    color: #fff;
    text-decoration: none;
}

input[type="text"], input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 20px;
    width: 20%;
    height: 5%;
}

input[type="text"] {
    margin-top: 50px;
}

.btn-add {
    height: 50px;
    width:100px;
    margin-left:20px;
    margin-top: 50px;
}

.btn-del {
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:#1c1c1c ;
    border-radius: 10px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}
