<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>링크트리</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
</head>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<body>
{{>header/header}}
<div id="fullscreen">
    <div id="screen1">
        <div id="screen1-1">
            <div id="screen1-1-1">
                <span class="span_text">
                    베스트 링크
                </span>
            </div>
            <div id="screen1-1-2">
                {{#linkBestList}}
                    <table id="table_best">
                        <tr>
                            <td onClick="window.open('{{LINK}}')" rowspan="2" class="img_td"><img src="{{IMAGE}}" alt="링크 미리보기 이미지" class="img_list"/></td>
                            <td onClick="window.open('{{LINK}}')" class="title_td">{{TITLE}}</td>
                        </tr>
                        <tr>
                            <td onClick="window.open('{{LINK}}')" class="contents_td">{{CONTENTS}}</td>
                        </tr>
                    </table>
                {{/linkBestList}}
            </div>
        </div>
        <div id="screen1-2">
            <div id="screen1-1-1">
                <span class="span_text">
                    베스트 유저
                </span>
            </div>
            <div id="screen1-1-2">
                {{#bestUser}}
                    <table id="table_bestuser" onclick="showUserList('{{no}}')">
                        <tr>
                            <td class="img_td"><img src="{{picture}}" alt="유저 프로필 이미지" class="img_list"/></td>
                            <td id="bestuser_td">{{username}}</td>
                            <td id="userlike_td">좋아요 {{userlike}}</td>
                        </tr>
                    </table>
                {{/bestUser}}
            </div>
        </div>
    </div>
    <div id="screen2">
        <div id="screen2-1">
            <span class="span_text">
                최근 추가 링크
            </span>
        </div>
        <div id="screen2-2">
            {{#linkDateList}}
                <table id="table_date">
                    <tr>
                        <td onClick="window.open('{{LINK}}')" rowspan="2" class="img_td"><img src="{{IMAGE}}" alt="링크 미리보기 이미지" class="img_list"/></td>
                        <td onClick="window.open('{{LINK}}')" class="title_td">{{TITLE}}</td>
                        <td rowspan="2" class="username_td"><h3 id="username_text" onclick="showUserList('{{NO}}')">{{username}}</h3></td>
                    </tr>
                    <tr>
                        <td onClick="window.open('{{LINK}}')" class="contents_td">{{CONTENTS}}</td>
                    </tr>
                </table>
            {{/linkDateList}}
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>