<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>링크트리</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<body>
{{>header/header}}
<div class="div_homescreen">
    <div class="div_homescreen_sub">
        <div class="div_text">
            <div class="div_text_sub">
                ADD<br>Your, Link
            </div>
            <div class="div_text_sub2">
                ADD Your, Link
            </div>
        </div>
        <div class="div_form">
            <div class="div_form_sub">
                <form action="/add" method="post" id="input_form">
                    {{#user.username}}
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                        <input type="hidden" name="NO" value="{{user.no}}">
                    {{/user.username}}
                    <input type="text" placeholder="링크를 입력하세요." name="LINK" id="input_text">
                    <button type="submit" id="input_btn">ADD</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="js/main.js"></script>
</body>
</html>