<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/main_style.css">
</head>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<body>
{{>header/header}}
<div style="margin-top: 40px; text-align: center;">
    <form action="/add" method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
        <input type="text" name="LINK" placeholder="link" class="input_link">
        <input type="hidden" name="NO" value="{{user.no}}">
        <input type="submit" value="ADD">
    </form>
</div>
{{#linkList}}
    <table align="center" border="1" onClick="window.open('{{LINK}}')">
        <tr>
            <td rowspan="2" class="img_td"><img src="{{IMAGE}}" alt="링크 미리보기 이미지" class="img_list"/></td>
            <td class="title_td">{{TITLE}}</td>
            <td rowspan="2" class="del_td">
                <button onclick="deleteID('{{LID}}')" class="del_button">DEL</button>
            </td>
        </tr>
        <tr>
            <td class="contents_td">{{CONTENTS}}</td>
        </tr>
    </table>
{{/linkList}}
<script src="js/main.js"></script>
</body>
</html>