<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>링크트리</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/showlink_style.css">
</head>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<body>
{{>header/header}}
<div id="fullscreen">
        <div id="screen1">
            <div id="screen1-1">
                <img src="{{user.picture}}" id="img_pictures">
                <h2 class="user_txt">{{user.username}}님의 링크</h2>
                    <a2>좋아요&nbsp;
                        <a3 id="likeCount"></a3>
                        <input type="hidden" name="uno" id="uno" value="{{user.no}}">
                        <input type="hidden" name="no" id="no" value="{{user.no}}">
                        <div class="like"></div>
                    </a2>
            </div>
            <div id="screen1-2">
                <form action="/add" method="post">
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="text" name="LINK" placeholder="링크를 입력해주세요." class="input_link">
                    <input type="hidden" name="NO" value="{{user.no}}">
                    <input type="submit" value="ADD" id="add_btn">
                </form>
            </div>
        </div>
    <div id="screen2">
        <div class="grid-container">
            {{#linkList}}
                <div class="item">
                    <table>
                        <tr>
                            <td onClick="window.open('{{LINK}}')" rowspan="2" class="img_td"><img src="{{IMAGE}}" alt="링크 미리보기 이미지" class="img_list"/></td>
                            <td onClick="window.open('{{LINK}}')" class="title_td">{{TITLE}}</td>
                            <td rowspan="2" class="del_td">
                                <button onclick="deleteID('{{LID}}')" class="del_button">DEL</button>
                            </td>
                        </tr>
                        <tr>
                            <td onClick="window.open('{{LINK}}')" class="contents_td">{{CONTENTS}}</td>
                        </tr>
                    </table>
                </div>
            {{/linkList}}
        </div>
    </div>
</div>
<script src="js/like.js"></script>
<script src="js/main.js"></script>
</body>
</html>