<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="links">
    <insert id="save" parameterType="String">
    insert into T_link(LINK)
    values (#{link})
    </insert>
    <insert id="save_tci" parameterType="String">
        insert into T_link(LINK, TITLE, CONTENTS, IMAGE)
        values (#{LINK}, #{TITLE}, #{CONTENTS}, #{IMAGE})
    </insert>
    <select id="show" resultType="link">
        SELECT * FROM T_link
    </select>
    <delete id="delete" parameterType="String">
        DELETE FROM T_link WHERE LINK=#{LINK}
    </delete>
</mapper>