<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.mini_project.service.impl.UserMapper">
    <resultMap id="resultUserVO"
               type="com.mini_project.dto.UserVO">
        <result property="M_ID" column="M_ID" />
        <result property="M_PWD" column="M_PWD" />
        <result property="AUTHORITY" column="AUTHORITY" />
        <result property="ENABLED" column="ENABLED" />
    </resultMap>
    <select id="getUserById" parameterType="String" resultMap="resultUserVO">
        SELECT
            M_ID
             , M_PWD
             , ENABLED
             , AUTHORITY
        FROM T_USER_LINKTREE
        WHERE M_ID = #{M_ID}
    </select>
</mapper>